<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Restaurant</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Arsenal+SC:ital,wght@0,400;0,700;1,400;1,700&family=Inter:wght@100..900&family=Marcellus&family=Play:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    />
    <link rel="stylesheet" href="../css/style.css" />
  </head>
  <body>
    <header>
      <div class="header-top">
        <div class="header-address">
          <div class="header-mail">
            <p>
              <i class="fa-solid fa-envelope-open"></i>
              Basilicofood123@gmail.com
            </p>
          </div>
          <div>
            <p>
              <i class="fa-solid fa-map"></i>
              4517 Washington Ave. Kentucky 39495, USA
            </p>
          </div>
        </div>
        <div>
          <p><i class="fa-solid fa-globe"></i>English</p>
        </div>
      </div>
    </header>
    <nav class="nav">
      <div class="nav-items">
        <img src="../Assets/logo-new.png" class="logo" />
        <ul>
          <li><a href="#">HOME</a></li>
          <li><a href="#">PAGES</a></li>
          <li><a href="#">MENU</a></li>
          <li><a href="#">PORTFOLIO</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">CONTACT</a></li>
        </ul>
        <button class="primary-btn">BOOK A TABLE</button>
        <div class="menu-btn">
          <a href="#" class="menu-bars">
            <span></span>
          </a>
        </div>
      </div>
    </nav>
    <script src="../js/script.js"></script>
  </body>
</html>
